name: Clang-tidy

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  clang-tidy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install latest CMake
      uses: jwlawson/actions-setup-cmake@v1
      with:
        cmake-version: '3.27.7'

    - name: Install LLVM + Clang + Clang-Tidy
      uses: KyleMayes/install-llvm-action@v2
      with:
        version: "17"
        directory: ${{ runner.temp }}/llvm

    - name: Configure (CMake)
      run: cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

    - name: Run clang-tidy
      run: |
        echo "Running clang-tidy..."
        find src -name '*.cpp' -print0 | xargs -0 clang-tidy -p build

