name: Clang-tidy

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  clang-tidy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install latest CMake
      uses: jwlawson/actions-setup-cmake@v1
      with:
        cmake-version: '3.27.7'

    # Install clang and clang-tidy
    - name: Install Clang/LLVM
      uses: llvm/llvm-project@llvmorg-18.1.6
      with:
        components: clang clang-tools-extra

    # Configure your project normally
    - name: Configure (CMake)
      run: cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_CXX_STANDARD=23

    # Run clang-tidy on all C++ files
    - name: Run clang-tidy
      run: |
        echo "Running clang-tidy..."
        find src -name '*.cpp' | xargs clang-tidy -p build
